<p id="notice"><%= notice %></p>

<p>
  <b>This date:</b>
  <%= @incident.this_date %>
</p>

<p>
  <b>Description:</b>
  <%= @incident.description %>
</p>


<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
