<div style="font-size:25px;line-height:2"><%= link_to "Add a Resource", new_resource_path %> <br/>
<%= link_to "Add an Emergency Incident", new_incident_path %><br/>
<%= link_to "Search for Resources", '/resources/search' %><br/>
<%= link_to "Resource Status", '/resources/status' %><br/>
<%= link_to "Resource Report", '/resources/report' %><br/>
<%= link_to "Exit", '/log_out' %></div>