<div id="homecontainer"><%= link_to "ADD A RESOURCE", new_resource_path %> <br/>
<%= link_to "ADD AN EMERGENCY INCIDENT", new_incident_path %><br/>
<%= link_to "SEARCH FOR RESOURCES", '/resources/search' %><br/>
<%= link_to "RESOURCE STATUS", '/resources/status' %><br/>
<%= link_to "RESOURCE REPORT", '/resources/report' %><br/>
<%= link_to "EXIT", '/log_out' %></div>
