<h1>Listing costperitems</h1>

<table>
  <tr>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @costperitems.each do |costperitem| %>
  <tr>
    <td><%= costperitem.item %></td>
    <td><%= link_to 'Show', costperitem %></td>
    <td><%= link_to 'Edit', edit_costperitem_path(costperitem) %></td>
    <td><%= link_to 'Destroy', costperitem, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Costperitem', new_costperitem_path %>
