<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    RESOURCE:<BR />
    <%= f.text_field :name, :size => 20 %>
  </div>
  <div class="field">
    MODEL:<BR />
    <%= f.text_field :model, :size => 20 %>
  </div>
  <div class="field">
    COST:<BR />
    $<%= f.number_field :cost, :size => 8 %> per <%= f.text_field :costperitem, :size => 10 %>
  </div>
  <div class="field">
    LATITUDE:<br />
    <%= f.text_field :lat, :size => 20 %> 
  </div>
  <div class ="field">
    LONGITUDE:<br />
    <%= f.text_field :lon, :size => 20 %>
  </div>
  <div class="field">
    PRIMARY ESF:<BR />
    <%= f.select(:esf_id, Esf.all.collect {|e| [e.description, e.id]}, :prompt => "--Select a primary ESF--" ) %>
  </div>
  <div class="field">
		ADDITIONAL ESFS: <BR />
		<%= select_tag 'add_esfs[]', options_for_select(Esf.all.collect {|e| [e.description, e.id]}), :multiple=> true, :size => 6 %>
	</div>
	<%= f.fields_for :capabilities do |builder| %>
		<%= render "capability_fields", :f => builder %>
	<% end %>
	<div class="field"><%= link_to_add_fields "ADD CAPABILITY", f, :capabilities %></div><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
