<h1>Listing resources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Model</th>
    <th>Cost</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>User</th>
    <th>Esf</th>
    <th>Costperitem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.name %></td>
    <td><%= resource.model %></td>
    <td><%= resource.cost %></td>
    <td><%= resource.lat %></td>
    <td><%= resource.lon %></td>
    <td><%= resource.user.name %></td>
    <td><%= resource.esf.description %></td>
    <td><%= resource.costperitem.item %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
