<h1 style="padding-bottom: 5px; font-size: 20px">RESOURCES IN USE</h1>
<% if !@user_resource_requests.blank?%>
<table>
<tr>
	<th>Resource Name</th>
	<th>Incident</th>
	<th>Owner</th>
	<th>Action</th>
</tr>
<% @user_resource_requests.each do |rq| %>
	<tr>
		<td><%= Resource.find_by_sql("SELECT * FROM resources WHERE id = #{rq.resource_id}").first.name %></td>
		<td><%= Incident.find_by_sql("SELECT * FROM incidents WHERE id = #{rq.incident_id}").first.description %></td>
		<td><%= Incident.find_by_sql("SELECT * FROM incidents WHERE id = #{rq.incident_id}").first.user_id %></td>
		<td><%= link_to "Return", return_path(:rq_id => rq.id) %>
	</tr>
<% end %>
</table>
<% else %>
No resource requests
<% end %>
<div style="padding-bottom: 10px"></div>
<h1 style="padding-bottom: 5px; font-size: 20px">REQUESTS SENT BY ME</h1>
<% if !@requests_sent.blank? %>
<table>
<tr>
	<th>Resource Name</th>
	<th>Incident</th>
	<th>Owner</th>
	<th>Action</th>
</tr>
<% @requests_sent.each do |rq| %>
	<tr>
		<td><%= Resource.find_by_sql("SELECT * FROM resources WHERE id = #{rq.resource_id}").first.name %></td>
		<td><%= Incident.find_by_sql("SELECT * FROM incidents WHERE id = #{rq.incident_id}").first.description %></td>
		<td><%= Incident.find_by_sql("SELECT * FROM incidents WHERE id = #{rq.incident_id}").first.user_id %></td>
		<td><%= link_to "Cancel", rq, method: :delete %></td>
	</tr>
<% end %>
</table>
<% else %>
No resource requests
<% end %>
<div style="padding-bottom: 10px"></div>
<h1 style="padding-bottom: 5px; font-size: 20px">REQUESTS SENT BY OTHERS</h1>
<% if !@requests_received.blank? %>
<table>
<tr>
	<th>Resource Name</th>
	<th>Incident</th>
	<th>Owner</th>
	<th colspan="2">Action</th>
</tr>
<% @requests_received.each do |rq| %>
	<tr>
		<td><%= Resource.find_by_sql("SELECT * FROM resources WHERE id = #{rq.resource_id}").first.name %></td>
		<td><%= Incident.find_by_sql("SELECT * FROM incidents WHERE id = #{rq.incident_id}").first.description %></td>
		<td><%= Incident.find_by_sql("SELECT * FROM incidents WHERE id = #{rq.incident_id}").first.user_id %></td>
		<td>
		<% if rq.status == "In Use" %>
			Currently in Use
			<% else %>
			<%= link_to "Deploy", deploy_request_path(:id => rq.id) %>
			<% end %></td>
		<td><%= link_to "Reject", reject_path(:rq_id => rq.id) %></td>
	</tr>
<% end %>
</table>
<% else %>
No resource requests
<% end %>