<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @municipality.username %>
</p>

<p>
  <b>Population:</b>
  <%= @municipality.population %>
</p>


<%= link_to 'Edit', edit_municipality_path(@municipality) %> |
<%= link_to 'Back', municipalities_path %>
