<h1>Listing addesfs</h1>

<table>
  <tr>
    <th>Resource</th>
    <th>Esf</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addesfs.each do |addesf| %>
  <tr>
    <td><%= addesf.resource %></td>
    <td><%= addesf.esf %></td>
    <td><%= link_to 'Show', addesf %></td>
    <td><%= link_to 'Edit', edit_addesf_path(addesf) %></td>
    <td><%= link_to 'Destroy', addesf, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Addesf', new_addesf_path %>
