<p id="notice"><%= notice %></p>

<p>
  <b>Resource:</b>
  <%= @addesf.resource %>
</p>

<p>
  <b>Esf:</b>
  <%= @addesf.esf %>
</p>


<%= link_to 'Edit', edit_addesf_path(@addesf) %> |
<%= link_to 'Back', addesfs_path %>
