<%= form_for(@capability) do |f| %>
  <% if @capability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capability.errors.count, "error") %> prohibited this capability from being saved:</h2>

      <ul>
      <% @capability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource %><br />
    <%= f.text_field :resource %>
  </div>
  <div class="field">
    <%= f.label :capability %><br />
    <%= f.text_field :capability %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
