<h1>Listing capabilities</h1>

<table>
  <tr>
    <th>Resource</th>
    <th>Capability</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @capabilities.each do |capability| %>
  <tr>
    <td><%= capability.resource %></td>
    <td><%= capability.capability %></td>
    <td><%= link_to 'Show', capability %></td>
    <td><%= link_to 'Edit', edit_capability_path(capability) %></td>
    <td><%= link_to 'Destroy', capability, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Capability', new_capability_path %>
