<h1>Listing esfs</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @esfs.each do |esf| %>
  <tr>
    <td><%= esf.description %></td>
    <td><%= link_to 'Show', esf %></td>
    <td><%= link_to 'Edit', edit_esf_path(esf) %></td>
    <td><%= link_to 'Destroy', esf, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Esf', new_esf_path %>
