<!DOCTYPE html>
<html>
<head>
  <title>Erms</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="header">
        <div id="title">
            <a href="/">ERMS</a>
        </div>
        <div id="loginarea">
            <% if current_user %>
                Welcome, <%= current_user.name %>
            <% else %>
                <%= link_to "Log in!", log_in_path %>
            <% end%>
            <br />
            <% if current_user %>
                <%= current_user.info %>
            <% end %>
        </div>

    </div>
        <% if !params[:notice].blank? %>
		<div style="font-size: 18px; padding-top: 5px; padding-bottom: 5px; margin: auto; border: solid 1px black; background-color: rgb(255,100,100); font-weight: bold;">
            <%= params[:notice] %>
            </div>
        <% end %>
<div id="container">
<%= yield %>
</div>
<div id="footer">
 Doug Black, Obi Igwe, Patrick Koehler, Stefan Ferguson<br /><br /> 2011
</div>
</body>
</html>
